body { background: #ccd1d2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-email-0 { color: #8373cb; font-size: 17px; margin-bottom: 5px; }
.block-validator-1 { color: #721f28; font-size: 21px; margin-bottom: 5px; }
.block-auth-2 { color: #b13b4f; font-size: 18px; margin-bottom: 5px; }
.block-cart-3 { color: #796faf; font-size: 14px; margin-bottom: 5px; }
.block-database-4 { color: #b4d94; font-size: 15px; margin-bottom: 5px; }
.block-token-5 { color: #1c888e; font-size: 16px; margin-bottom: 5px; }